.header {
    display: flex;
    flex-direction: row;
    height: 5rem;
}

.left {
    align-items: center;
    display: flex;
    width: 25%;
    /* justify-content: start; */
    gap: 1rem;
    
}
.left>img {
    width: 3rem;
    height: 3rem;
}
.left>span {
    font-family: Poppins,sans-serif;
    font-weight: 600;
}

.right {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}
.right>.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.right>.menu>ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    font-weight: 600;
}

.right>.menu>ul:hover {
    cursor: pointer;
    color: var(--category-color);
}

.form_input {
    outline: none;
    border: none;
    border-radius: 1.6rem none;

}
.right>form>input {
    width: 7rem;
    padding: .3rem;
}
.right>form>input::placeholder {
    padding: 1rem;
    text-align: start;
}

.shop_icon {
    width: 2rem;
    height: 2rem;
}