:root {

  --yellow-light: #f8e366;
  --category-color: #515530;
}

.App {
  background-color: var(--yellow-light);
  text-align: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 1ex;
}
